In [1]:
# Dictionary
# -Indexed
# -Ordered
# -Multiple data
# -Mutable

In [6]:
# d = dict()
# d = {<key>:<value>,<key>:<value>}

d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d)
print(d['a'])
print(d['b'])
print(d['c'])

print(len(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
Apple
Ball
Cat
3

In [9]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
d['a'] = 'Ant'
print(d)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [10]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
d['A'] = 'Ant'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Ant'}

In [11]:
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
d['e'] = 'Egg'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'e': 'Egg'}

In [12]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9867667654
Enter name = Shyam
Enter phone = 9809887765
{'Ram': 9867667654, 'Shyam': 9809887765}

In [13]:
a = {'Ram': 9867667654, 'Shyam': 9809887765}
for i in a:
    print(i)

Ram
Shyam

In [14]:
a = {'Ram': 9867667654, 'Shyam': 9809887765}
for i in a.values():
    print(i)

9867667654
9809887765

In [15]:
a = {'Ram': 9867667654, 'Shyam': 9809887765}
for i in a.items():
    print(i)

('Ram', 9867667654)
('Shyam', 9809887765)

In [16]:
d = [('Ram', 9867667654),('Shyam', 9809887765)]
dict(d)

{'Ram': 9867667654, 'Shyam': 9809887765}

In [19]:
# del pop 
a = {'Ram': 9867667654, 'Shyam': 9809887765}
print(a)
del a['Ram']
print(a)

{'Ram': 9867667654, 'Shyam': 9809887765}
{'Shyam': 9809887765}

In [25]:
a = {'Ram': 9867667654, 'Shyam': 9809887765}
print(a)

b = a.pop('Ram')
print(a)
print(b)

{'Ram': 9867667654, 'Shyam': 9809887765}
{'Shyam': 9809887765}
9867667654

In [30]:
#list inside dict
a = {'Ram': [9867667654,9856556543], 'Shyam': [9809887765,9808667654]}
print(a['Ram'])
print(a['Shyam'])

[9867667654, 9856556543]
[9809887765, 9808667654]

In [31]:
a = {'Ram': [9867667654,9856556543], 'Shyam': [9809887765,9808667654]}
a['Ram'] = [9808667654,9856554543]
a

{'Ram': [9808667654, 9856554543], 'Shyam': [9809887765, 9808667654]}

In [34]:
a = {'Ram': [9867667654,9856556543], 'Shyam': [9809887765,9808667654]}
a['Ram'][0] = 9808000000
a

{'Ram': [9808000000, 9856556543], 'Shyam': [9809887765, 9808667654]}

In [37]:
a = {'Ram': [9867667654,9856556543], 'Shyam': [9809887765,9808667654]}
a['Ram'].append(9808556543)
a['Shyam'].append(9808667654)
a

{'Ram': [9867667654, 9856556543, 9808556543],
 'Shyam': [9809887765, 9808667654, 9808667654]}

In [ ]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone_ntc = int(input("Enter ntc phone = "))
    phone_ncell = int(input("Enter ncell phone = "))

    d[name] = [phone_ntc,phone_ncell]
    
print(d)

In [38]:
# dict inside list
d = [{'Name':'Ram','ntc':9867556543,'ncell':9808667654},
    {'Name':'Shyam','ntc':9867556567,'ncell':9808667600},
    {'Name':'Akash','ntc':9867556511,'ncell':9808667622},
    {'Name':'Ram','ntc':9867556545,'ncell':9808667609}]

print(d)

[{'Name': 'Ram', 'ntc': 9867556543, 'ncell': 9808667654}, {'Name': 'Shyam', 'ntc': 9867556567, 'ncell': 9808667600}, {'Name': 'Akash', 'ntc': 9867556511, 'ncell': 9808667622}, {'Name': 'Ram', 'ntc': 9867556545, 'ncell': 9808667609}]

In [42]:
print(d[1]['ntc'])

9867556567

In [47]:
for i in d:
    if i['Name'] == "Ram":
        print(i)

{'Name': 'Ram', 'ntc': 9867556543, 'ncell': 9808667654}
{'Name': 'Ram', 'ntc': 9867556545, 'ncell': 9808667609}

In [51]:
d = [{}]
d

[{}]

In [52]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ncell = int(input("Enter ncell = "))
    ntc = int(input("Enter ntc = "))
    data = {'Name':name,'Ncell':ncell,'Ntc':ntc}
    l.append(data)
    
print(l)

Enter n = 2
Enter name = Ram
Enter ncell = 9808998765
Enter ntc = 9876567
Enter name = Shyam
Enter ncell = 9798789890
Enter ntc = 90870878
[{'Name': 'Ram', 'Ncell': 9808998765, 'Ntc': 9876567}, {'Name': 'Shyam', 'Ncell': 9798789890, 'Ntc': 90870878}]

In [53]:
a = {'Name':["Ram","Shyam","Hari"],
    'Age':[34,54,23],
    'Address':['Kathmandu',"Bhaktapur",'Chitwan']}
a

{'Name': ['Ram', 'Shyam', 'Hari'],
 'Age': [34, 54, 23],
 'Address': ['Kathmandu', 'Bhaktapur', 'Chitwan']}

In [56]:
i = int(input("Enter index = "))
print(a['Name'][i])
print(a['Age'][i])
print(a['Address'][i])

Enter index = 1
Shyam
54
Bhaktapur