In [1]:
# file
# open(<file_name>,<modes>)

# modes
# read -> r
# write -> w
# append -> a
# create ->x

In [4]:
try:
    b = open('data.txt','x')
    b.close()
except:
    print("The file is already there")

The file is already there

In [6]:
b = open('data.txt','r')
print(b.read())
print(type(b.read()))
b.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello WOrld
5.Hello World
<class 'str'>

In [7]:
# readline() read()

In [9]:
b = open('data.txt','r')
print(b.readline())
print(b.readline())

b.close()

1.Hello World

2.Hello World

In [11]:
b = open('data.txt','r')
x = b.read()
y = x.split('\n')
print(y)
b.close()

['1.Hello World', '2.Hello World', '3.Hello World', '4.Hello WOrld', '5.Hello World']

In [14]:
line_no = int(input("Enter line no = "))
print(y[line_no-1])

Enter line no = 2
2.Hello World

In [15]:
b = open('datas.txt','w')
b.write('Hello World I am python')
b.close()

In [1]:
s = ""
def dataEntry():
    global s
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = f"{name} {age} {add}\n"
    s = s+info
    x = input("Enter y for continue ")
    if x == 'y':
        dataEntry()
    
    
dataEntry()
print(s)

b = open('datas.txt','w')
b.write('Name Age Address\n')
b.write(s)
b.close()

Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Enter y for continue y
Enter name = Shyam
Enter age = 56
Enter address = Bhaktapur
Enter y for continue jhgj
Ram 34 Kathmandu
Shyam 56 Bhaktapur

In [2]:
s = ""
def dataEntry():
    global s
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = f"{name},{age},{add}\n"
    s = s+info
    x = input("Enter y for continue ")
    if x == 'y':
        dataEntry()
    
    
dataEntry()
print(s)

b = open('datas.csv','w')
b.write('Name,Age,Address\n')
b.write(s)
b.close()

Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Enter y for continue y
Enter name = Shyam
Enter age = 45
Enter address = Bhaktapur
Enter y for continue y
Enter name = Sabin
Enter age = 78
Enter address = Pokhara
Enter y for continue jgh
Ram,34,Kathmandu
Shyam,45,Bhaktapur
Sabin,78,Pokhara

In [6]:
pwd
# import os
# os.listdir()

NameError: name 'pwd' is not defined

In [7]:
pwd

'C:\\Users\\coral\\PythonClass630'

In [8]:
b = open('datas.csv','r')
print(b.read())
print(type(b.read()))
b.close()

Name,Age,Address
Ram,34,Kathmandu
Shyam,45,Bhaktapur
Sabin,78,Pokhara

<class 'str'>

In [10]:
import pandas as pd
df = pd.read_csv('datas.csv')
df

    Name  Age    Address
0    Ram   34  Kathmandu
1  Shyam   45  Bhaktapur
2  Sabin   78    Pokhara