In [1]:
# # Python collection
# list
# tuple
# dictionary
# set

In [2]:
# # list
# -Indexed
# -Ordered
# -Multiple data
# -Mutable

In [3]:
a = [1,2,3,4,5]
b = ["Apple","Ball","Cat","Dog"]
print(a)
print(b)
print(type(a),type(b))

[1, 2, 3, 4, 5]
['Apple', 'Ball', 'Cat', 'Dog']
<class 'list'> <class 'list'>

In [8]:
print(b[0])
print(b[0:3])
print(a[0::1])

Apple
['Apple', 'Ball', 'Cat']
[1, 2, 3, 4, 5]

In [10]:
b = ["Apple","Ball","Cat","Dog"]
b[0][0]

'A'

In [12]:
a = [1,2,3,4,5]
b = [6,7,8,9]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
a = [1,2,3,4,5]
print(a*3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [15]:
b = ["Apple","Ball","Cat","Dog"]
b[0] = 'Ant'
b

['Ant', 'Ball', 'Cat', 'Dog']

In [16]:
b = ["Apple","Ball","Cat","Dog"]
for i in b:
    print(i)

Apple
Ball
Cat
Dog

In [17]:
l = len(b)
l

4

In [19]:
# append() insert() extend()
a = list()
a.append("Apple")
a.append("Ball")
a

['Apple', 'Ball']

In [20]:
b = ["Apple","Ball","Cat","Dog","Fish"]
b.insert(1,"Bat")
print(b)

['Apple', 'Bat', 'Ball', 'Cat', 'Dog', 'Fish']

In [21]:
# extend()
a = ['Apple', 'Bat', 'Ball', 'Cat', 'Dog', 'Fish']
b = [1,2,3,4,5,6]
a.extend(b)
print(a)

['Apple', 'Bat', 'Ball', 'Cat', 'Dog', 'Fish', 1, 2, 3, 4, 5, 6]

In [23]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
    
    print(l)

Enter n = 5
Enter x = 132
[132]
Enter x = 3423
[132, 3423]
Enter x = 132
[132, 3423, 132]
Enter x = 34
[132, 3423, 132, 34]
Enter x = 34
[132, 3423, 132, 34, 34]

In [28]:
print(sum(l))
print(max(l))
print(min(l))

3755
3423
34

In [29]:
l.sort()
print(l)

[34, 34, 132, 132, 3423]

In [30]:
l.reverse()
print(l)

[3423, 132, 132, 34, 34]

In [31]:
a = ["Ball","Cat","apple","Zebra","xray"]
a.sort()
a

['Ball', 'Cat', 'Zebra', 'apple', 'xray']

In [34]:
l = []
a = ["Ball","Cat","apple","Zebra","xray",'cab']
for i in a:
    if i[0].lower() == "c":
        l.append(i)
        
print(l)

['Cat', 'cab']

In [35]:
# del remove() pop()
a = ['Ball', 'Cat', 'Zebra', 'apple', 'xray']
del a[0]
print(a)

['Cat', 'Zebra', 'apple', 'xray']

In [38]:
a = ['Ball', 'Cat', 'Zebra', 'apple', 'xray']
del a[0:4]
print(a)

['xray']

In [39]:
a = ['Ball', 'Cat', 'Zebra', 'apple', 'xray']
a.remove("Ball")
print(a)

['Cat', 'Zebra', 'apple', 'xray']

In [45]:
a = ['Ball', 'Cat', 'Zebra','Ball', 'apple', 'xray',"Ball"]
search = input("Enter value = ")
for i in a:
    if i == search:
        a.remove(search)
print(a)

Enter value = apple
['Ball', 'Cat', 'Zebra', 'Ball', 'xray', 'Ball']

In [43]:
a = ['Ball', 'Cat', 'Zebra','Ball', 'apple', 'xray',"Ball"]
for i in range(len(a)):
    if a[i] == "Ball":
        print(i)

0
3
6

In [50]:
# pop()
a = ['Ball', 'Cat', 'Zebra','Ball', 'apple', 'xray',"Ball"]
b = a.pop()
print(a)
print(b)

['Ball', 'Cat', 'Zebra', 'Ball', 'apple', 'xray']
Ball

In [48]:
l = []
a = ['Ball', 'Cat', 'Zebra','Ball', 'apple', 'xray',"Ball"]
for i in a:
    if i == "Ball":
        l.append("Ball")
        a.remove("Ball")
print(l)
print(a)

['Ball', 'Ball', 'Ball']
['Cat', 'Zebra', 'apple', 'xray']

In [51]:
# list inside list
info = [["Ram",34,"Kathmandu"],
       ["Shyam",45,"Bhaktapr"],
       ["Hari",56,"Lalitpur"]]
print(info)

[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapr'], ['Hari', 56, 'Lalitpur']]

In [1]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = [name,age,add]
    info.append(data)
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 45
Enter add = Lalitpur
[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Lalitpur']]

In [2]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapr'], ['Hari', 56, 'Lalitpur']]
a.append(['Nabin',34,'Chitwan'])
a

[['Ram', 34, 'Kathmandu'],
 ['Shyam', 45, 'Bhaktapr'],
 ['Hari', 56, 'Lalitpur'],
 ['Nabin', 34, 'Chitwan']]

In [6]:
print(a[0])
print(a[0][2])

['Ram', 34, 'Kathmandu']
Kathmandu

In [8]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapr'], ['Hari', 56, 'Lalitpur']]
a[0] = ["Ram Prasad",23,'Bara']
a

[['Ram Prasad', 23, 'Bara'],
 ['Shyam', 45, 'Bhaktapr'],
 ['Hari', 56, 'Lalitpur']]

In [9]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapr'], ['Hari', 56, 'Lalitpur']]
a[0][0] = "Ram Prasad"
a

[['Ram Prasad', 34, 'Kathmandu'],
 ['Shyam', 45, 'Bhaktapr'],
 ['Hari', 56, 'Lalitpur']]

In [12]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapr'], ['Hari', 56, 'Lalitpur']]
for i in a:
    print(i)

['Ram', 34, 'Kathmandu']
['Shyam', 45, 'Bhaktapr']
['Hari', 56, 'Lalitpur']

In [16]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapr'], ['Ram', 56, 'Lalitpur']]
search = input("Enter search data = ")

for i in a:
    if search in i: 
        print(i)

Enter search data = Ram
['Ram', 34, 'Kathmandu']
['Ram', 56, 'Lalitpur']

In [17]:
a = [['Ram', 34, 'Kathmandu'], 
     ['Shyam', 45, 'Bhaktapr'], 
     ['Ram', 56, 'Lalitpur']]
search = input("Enter search data = ")

for i in a:
    if search in i: 
        a.remove(i)
        
print(a)

Enter search data = Ram
[['Shyam', 45, 'Bhaktapr']]

In [18]:
a=[['Ram',32,'Ktm'],['Ram',34,'Bkt'],['Ham',35,'Ltp']]

for i in a:
    if 'Ram' in i:
        a.remove(i)
print(a)

[['Ram', 34, 'Bkt'], ['Ham', 35, 'Ltp']]

In [20]:
b = []
a=[['Ram',32,'Ktm'],['Ram',34,'Bkt'],['Ham',35,'Ltp']]
for i in a:
    if i[0] == "Ram":
        pass
    else:
        b.append(i)
print(b)

[['Ham', 35, 'Ltp']]

In [ ]:
# WAP to create a matrix having certain row and column