In [1]:
# Set
# -No indexing
# -Unordered
# -Mutiple data
# -No Duplicate data
# -Mutable

In [2]:
a = set()
a = {1,2,3,4,5,6}
print(a)
print(type(a))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [9]:
a = {1}
type(a)

set

In [11]:
s = {"Ball","apple","Cat","Zebra",1,4}
print(s)

{1, 4, 'apple', 'Cat', 'Ball', 'Zebra'}

In [12]:
s = {"Ball","apple","Cat","Zebra",1,4}
s[0]

TypeError: 'set' object does not support indexing

In [13]:
s = {1,2,1,2,3,4,5,3,5,6,4,7,3,8,9,0,2}
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
s = set()
s.add('Apple')
s.add("Ball")
s

{'Apple', 'Ball'}

In [16]:
s = [1,2,1,2,3,4,5,3,5,6,4,7,3,8,9,0,2]
list(set(s))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# union()
# intersection()
# difference()

In [26]:
U = {'Kushal', 'Shyam', 'Ananda', 'Ram', 'Nabin', 'Jobs', 'Shital', 'Bill', 'Hari', 'Nitesh',"Bikesh","Arjun"}

apple = {"Jobs","Ram","Shyam","Nitesh","Nabin","Kushal"}
ms = {"Bill","Hari","Shital","Ananda","Nabin","Kushal"}

apple.intersection(ms)

{'Kushal', 'Nabin'}

In [21]:
print(apple.union(ms))

{'Kushal', 'Shyam', 'Ananda', 'Ram', 'Nabin', 'Jobs', 'Shital', 'Bill', 'Hari', 'Nitesh'}

In [22]:
apple.difference(ms)

{'Jobs', 'Nitesh', 'Ram', 'Shyam'}

In [24]:
ms.difference(apple)

{'Ananda', 'Bill', 'Hari', 'Shital'}

In [27]:
U.difference(apple.union(ms))

{'Arjun', 'Bikesh'}

In [28]:
apple = {"Jobs","Ram","Shyam","Nitesh","Nabin","Kushal"}
ms = {"Bill","Hari","Shital","Ananda","Nabin","Kushal"}
ibm = {"Shital","Binod","KP","Sher","Prachanda","Nabin","Hari"}

apple.intersection(ms,ibm)

{'Nabin'}

In [29]:
# no mutable inside set

In [30]:
a = {{1,2,3},{4,5,6}}
a

TypeError: unhashable type: 'set'

In [31]:
a = {(1,2,3),(4,5,6)}
a

{(1, 2, 3), (4, 5, 6)}