In [ ]:
# string

In [ ]:
a = "Hello World"
print(a)
print(type(a))

In [ ]:
a = "Hello "
b = "World"
c = a+b
print(c)

In [ ]:
a = "Hello World\n"
print(a*3)

In [ ]:
a = "Hello World I am Python"
print(a[4])

In [ ]:
a = "Hello World I am Python"
print(a[0:11])

In [ ]:
a = "Hello World I am Python"
b = a[0:11]
c = a[11:]
print(b)
print(c)
print(b,c)

In [ ]:
a = "Hello World"
a[0:11:2]

In [ ]:
a = "Hello World"
l = len(a)
print(a[l::-1])

In [ ]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")

info = "Hello world I am " + name + " I am from " + add + " I am "+str(age)
print(info)

In [ ]:
#string formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")


info = f"Hello world I am {name}. I am from {add}. I am {age}"
print(info)

In [ ]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = f"{name} {age} {add}\n"
    s = s+info
    
print(s)

In [6]:
s = ""
def dataEntry():
    global s
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = f"{name} {age} {add}\n"
    s = s+info
    x = input("Enter y for continue ")
    if x == 'y':
        dataEntry()
    
    
dataEntry()
print(s)

Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Enter y for continue y
Enter name = Shyam
Enter age = 34
Enter address = Kathmandu
Enter y for continue jjh
Ram 34 Kathmandu
Shyam 34 Kathmandu

In [ ]:
# search
# replace
# uppler
# lower
# title

In [10]:
a = "Ram Shyam Hari Sita Ram"
name = input("Enter name = ")
if name in a:
    print("Yes")
    print(a.count(name))

Enter name = Ram
Yes
2

In [11]:
a = "Ram Shyam Hari Sita Ram"
a.upper()

'RAM SHYAM HARI SITA RAM'

In [12]:
a = "Ram Shyam Hari Sita Ram"
a.lower()

'ram shyam hari sita ram'

In [13]:
a = 'ram shyam hari sita ram'
a.title()

'Ram Shyam Hari Sita Ram'

In [14]:
a = "Ram Shyam Hari Sita Ram"
b = " Gita"
c = a+b
print(c)

Ram Shyam Hari Sita Ram Gita

In [16]:
a = "Ram Shyam Hari Sita Ram"
a = a.replace("Ram","Rama")
print(a)

Rama Shyam Hari Sita Rama

In [17]:
a = "Ram Shyam Hari Sita Ram"
a = a.replace("Ram","")
print(a)

 Shyam Hari Sita