In [1]:
# Tuple
# -Indexed
# -Ordered
# -Multiple and duplicate data
# -Imutable

In [2]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a)
print(type(a))

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
<class 'tuple'>

In [3]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a[0])
print(a[0:3])
print(a[0:4:2])

Apple
('Apple', 'Ball', 'Cat')
('Apple', 'Cat')

In [4]:
a = ("Apple","Ball","Cat","Dog","Fish","Apple")
print(a)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple')

In [5]:
a = ("Apple","Ball","Cat","Dog","Fish","Apple")
b = (1,2,3,4,5)
c = a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 1, 2, 3, 4, 5)

In [6]:
# no append() extend() insert()
# no update del pop() remove()

In [9]:
a = ("Apple",)
type(a)

tuple

In [10]:
# create
a = tuple()
b = ("Apple",)
c = a+b
print(c)

('Apple',)

In [13]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    t = t+(x,)
print(t)

Enter n = 3
Enter x = Apple
Enter x = Ball
Enter x = Cat
('Apple', 'Ball', 'Cat')

In [15]:
a = ('Apple', 'Ball', 'Cat')
b = list(a)
a = tuple(b)
a

('Apple', 'Ball', 'Cat')

In [16]:
t = tuple("Hello")
t

('H', 'e', 'l', 'l', 'o')

In [18]:
t = list("Hello")
t

['H', 'e', 'l', 'l', 'o']

In [ ]:
# max min sum sorted

In [19]:
def cal():
    a = 10
    v = 15
    return a,v

print(cal())

(10, 15)